body{
    background: #76baff;
    font: 13px tahoma;
    color: darkblue;
    border: 0px solid #2172b1;
    margin: 5px;
}

.main_link{
	font-size: 16px;
	font-weight: bold;
    display:block;
    /*width: 252px;
    height: 120px;*/
	padding: 1px;
    
    background: #2172b1;
    color:white;
    border:10px solid white;
    
	text-decoration: none;
    text-align: center;
}
.main_link:hover{
    background: #76baff;
}

hr{
	color: #2172b1;
	margin-top: 30px;
	border: none;
	border-top: 1px solid #2172b1;
	border-bottom: 1px solid white
}